@CHARSET "UTF-8";

footer{
	text-align: center;
 	background-color: #1b1b1b; /* 1b1b1b; */
	color: #ffffff;
}

.bg-admin{
	background: url("../images/House_5.jpg") no-repeat;
	width: auto;
	width: 120em;
	height: 45em;
}

.label-form{
	margin-right: 5px;
}

.label-radio{
	display: inline;
}